$white: #fff;
$background: #f5f5f5;

.background {
    background-color: $background;
}

.card {
    background-color: $white;
    padding: 1rem;
}

.column-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}
